article {
    --popout: 2rem;
    display: grid;
    grid-template-columns: 
    [full-start] 1fr [popout-start] 2rem [content] minmax(0, 65ch) 2rem [popout-end] 1fr [full-end]
    ;
    > * {
        grid-column: content;
    }
    img {
        grid-column: full;
    }
    blockquote {
        grid-column: popout;
    }
}
