:root {
    --color-heading: #0B0D19;
    --color-body: #677386;
    --color-bg-button: #3D7BFA;
    --color-text-button: #FFF;

    /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
    --hide-overlay: 1;
}


/* Begynd her... */
.grid-container {
display: grid;
grid-template-columns: 2fr 1fr;
}

.text-box {
    border: none;
    padding: 15px 32px;
}

.h1 {
    
}

.button {
    border: none;
    color: hvid;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
}